@import "../app.component.css";


/* STYLING */

.cloud-background-1 {
    display: box;
    opacity: 30%;
    scale: 25%;
    position: absolute;
    margin-left: -300px;
    margin-top: -100px;

    animation: float-up-cloud;
    animation-duration: 3.5s;
    transition: 2s ease-out;
}

.cloud-background-2 {
    display: box;
    opacity: 30%;
    scale: 10%;
    position: absolute;
    margin-left: -600px;
    margin-top: -120px;

    animation: float-up-cloud;
    animation-duration: 3.5s;
    transition: 2s ease-out;
}

.star-background-1 {
    display: box;
    opacity: 30%;
    scale: 7.5%;
    position: absolute;
    margin-left: -350px;
    margin-top: -200px;
    transform: rotate(-25deg);

    animation: float-up-star-1;
    animation-duration: 3.5s;
    transition: 2s ease-out;
}

@media screen and (max-width: 900px) {

    .cloud-background-1 {
        margin-top: -200px;
    }

    .cloud-background-2 {
        margin-top: -150px;
    }

    .star-background-1 {
        margin-top: -350px;
        margin-left: -170px;
        rotate: 80deg;
    }
}


/* ANIMATION */

@keyframes float-up-cloud {
    from {
        transform: translate3d(0, 55%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes float-up-star-1 {
    from {
        transform: rotate(100deg) translate3d(-100%, -100%, 0);
    }
    to {
        transform: rotate(-25deg) translate3d(0, 0, 0);
    }
}