<div class="ui container">

    <h1>Account</h1>

    <br/>

    <div class="columns-layout">

        <div class="column">

            <div class="credential-name">ACCOUNT TYPE</div>
            <div class="credential">{{user.accountType.toUpperCase()}}</div>

            <div class="credential-name">USERNAME</div>
            <div class="credential">{{user.username}}</div>

            <div class="credential-name">EMAIL</div>
            <div class="credential">{{user.email}}</div>

        </div>

        <div class="column">

            <div class="credential-name">FIRST NAME</div>
            <div class="credential">{{user.firstName}}</div>

            <div class="credential-name">LAST NAME</div>
            <div class="credential">{{user.lastName}}</div>

        </div>

    </div>

</div>
