@import "../app.component.css";

.account-type-button {
    width: 100%;
    text-align: center;
    background-color: rgb(237, 237, 237);
    border-radius: 100px;
    padding: 15px;
    font-weight: bold;
    margin: 10px 0px;
    transition: 0.2s;
}

.account-type-button:hover {
    background-color: rgba(226,121,56,1);
    color: white;
    cursor: pointer;
}